<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Chat Memberships</title>
</head>
<body>

<div class="container">
    <button onclick="window.location.href='/admin/user'">
        User
    </button>
    <button onclick="window.location.href='/admin/friendship'">
        Friendship
    </button>
    <button onclick="window.location.href='/admin/friendship-invitation'">
        Friendship Invitation
    </button>
    <button onclick="window.location.href='/admin/chat'">
        Chat
    </button>
    <button onclick="window.location.href='/admin/chat-membership'">
        Chat Membership
    </button>
    <button onclick="window.location.href='/admin/chat-invitation'">
        Chat Invitation
    </button>
    <button onclick="window.location.href='/admin/message'">
        Message
    </button>
    
    <h1>Admin Panel - Chat Membership Management</h1>

    <form id="newChatMembershipForm">
        <label for="chatId">Chat Id:</label>
        <input type="text" id="chatId" name="chat_id" required><br><br>

        <label for="userId">User Id:</label>
        <input type="text" id="userId" name="user_id" required><br><br>

        <button type="button" id="createNewChatMembership">Create Chat Membership</button>
    </form>

    <table class="chat-membership-table">
        <thead>
        <tr>
            <th>Chat Id</th>
            <th>User Id</th>
            <th>Delete Chat Membership</th>
        </tr>
        </thead>
        <tbody>
        {{range .ChatMemberships}}
        <tr>
            <td>{{.ChatId}}</td>
            <td>{{.UserId}}</td>
            <td class="delete">
                <button onclick="deleteChatMembership(merge({{.ChatId}},{{.UserId}}))">Delete</button>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>


<script>
    function merge(id1, id2) {
        return `${id1}-${id2}`
    }
    
    function getFormDataAsJSON(formId) {
        const form = document.getElementById(formId);
        if (!form) {
            console.error(`Form with ID "${formId}" not found.`);
            return null;
        }

        const formData = new FormData(form);
        const formJSON = {};

        formData.forEach((value, key) => {
            formJSON[key] = parseInt(value);
        });

        document.getElementById(formId).reset();

        return formJSON;
    }

    function sendJSON(endpoint, json) {
        fetch(endpoint, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(json)
        })
        .then(response => {            
            if (response.ok) {
                alert("JSON sent successfully!");
                location.reload()
            } else {
                return response.json().then(data => {
                    alert("Error: " + (data["error"] || "server troubles"));
                });
            }
        })
        .catch(error => {
            console.error("Error:", error);
            alert("An error occurred while sending json.");
        });
    }

    document.getElementById("createNewChatMembership").addEventListener("click", function(event) {
        event.preventDefault();
        
        const json = getFormDataAsJSON("newChatMembershipForm");
        
        sendJSON("/admin/chat-membership/create", json);
    });

    function deleteChatMembership(ids) {
        if (confirm(`Are you sure you want to delete chat membership ${ids}?`)) {
            fetch(`/admin/chat-membership/delete/${ids}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    alert(`Chat membership ${ids} deleted successfully`);
                    location.reload();
                } else {
                    alert(`Failed to delete chat membership ${ids}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert(`An error occurred while deleting chat membership ${ids}`);
            });
        }
    }
</script>

</body>
</html>
